---
import type { InferEntrySchema } from 'astro:content';
import { getCollection } from 'astro:content';

const products = await getCollection('products') 

interface Props {
	id: string
}

const { id } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {
    products.map((product) => {
      const { slug, data } = product
      const { img } = data

      if (product.id == id){
        return(
          img.map((image) =>
            <div>
              <img class="object-cover md:h-96 max-w-full rounded-lg" src={`${image}`} alt="" />
            </div>
          )
        )
      }
    })
  }
  <!-- <div>
    <img class="object-cover md:h-96 max-w-full rounded-lg" src="/apple-watch-7/apple-watch-7.jpg" alt="">
  </div> -->
</div>