

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div>
    <img class="object-cover md:h-96 max-w-full rounded-lg" src="/apple-watch-7/apple-watch-7.jpg" alt="">
  </div>
  <div>
    <img class="object-cover md:h-96 max-w-full rounded-lg" src="/iphone-15-pro-max/iphone-15-pro-max.jpg" alt="">
  </div>
  <div>
    <img class="object-cover md:h-96 max-w-full rounded-lg" src="/iphone-xr/iphone-xr.webp" alt="">
  </div>
  <div>
    <img class="object-cover md:h-96 max-w-full rounded-lg" src="/macbook-2023/macbook.jpeg" alt="">
  </div>
</div>




<!-- ---
import 'photoswipe/style.css';
---

<div class="pswp-gallery pswp-gallery--single-column" id="gallery">
  <a href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg" data-pswp-width="1669" data-pswp-height="2500" target="_blank">
    <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg" alt="">
  </a>
</div>


<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';

    const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        children: 'a',
        pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script> -->